@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
// font-family: 'Inter', sans-serif;
@font-face {
  font-family: "Futura";
  src: url("/assets/font/woff/Futura\ Bold\ font.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Futura";
  src: url("/assets/font/woff/Futura\ Bold\ Italic\ font.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Futura";
  src: url("/assets/font/woff/Futura\ Book\ font.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Futura";
  src: url("/assets/font/woff/Futura\ Book\ Italic\ font.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Futura";
  src: url("/assets/font/woff/Futura\ Light\ font.woff") format("woff");
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: "Futura";
  src: url("/assets/font/woff/Futura\ Light\ Italic\ font.woff") format("woff");
  font-weight: lighter;
  font-style: italic;
}

// colors
$text-color: #070707;
$purple-color: #812c7c;
$blue-color: #00a3da;
$green-color: #24a763;
$pink-color: #d8127d;
$red-color: #d8232a;
$yellow-color: #fff0a5;
$cta-color: #f44d5b;
$font-family-base: "Futura";

body {
  font-size: 15px;
  font-family: "inter", sans-serif !important;
  overflow-x: hidden;

  a {
    text-decoration: none;
  }

  h1 {
    font-family: $font-family-base;
    font-size: 2em;
    margin-left: 1em;
    margin-bottom: 1em;
    font-weight: bold;
    letter-spacing: 0.02em;
  }

  h2 {
    font-family: "Inter", sans-serif;
    font-size: 14px;
  }

  header {
    nav {
      padding: 0.5em 50px !important;
      z-index: 1;
      box-shadow: 0px 4px 12px rgba(177, 177, 177, 0.1);
      ul {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        margin: 0;

        li {
          margin-left: 1em;
          a {
            color: $purple-color;
            text-decoration: none;
            font-weight: bold;
          }
        }
      }
    }
  }

  // Homepage
  main {
    section {
      position: relative;
      padding: 60px 60px;
      height: 425px;
      background-color: #ffff;
      // padding: 2em 0 0 0;
      box-shadow: 0px 2px 6px rgba(104, 104, 104, 0.1);
      .swiper {
        .swiper-wrapper {
          .swiper-slide {
            text-align: center;
            color: $text-color;
            img {
              height: 200px;
              width: 200px;
              border-radius: 35px;
              object-fit: cover;
              transition: 200ms ease-in;
              box-shadow: 0px 4px 18px rgba(181, 181, 181, 0.15);
            }
            h2 {
              margin-top: 15px;
              color: $purple-color;
              font-weight: 500;
              letter-spacing: 0.02em;
            }
          }
        }
      }
      .controls {
        padding: 0 30px;
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        z-index: 1;
        position: absolute;
        bottom: 10%;
        padding: 0 15px;
        div {
          width: 50px;
          height: 50px;
          background: #ffffff;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          box-shadow: 0px 4px 18px rgba(129, 129, 129, 0.2);

          img {
            width: 20px;
            height: auto;
          }
        }

        div:last-of-type {
          transform: rotate(-180deg);
        }
      }
    }
    .products:nth-last-of-type(2n) {
      background-color: rgba(216, 18, 125, 0.05);
      background-image: url("/assets/images/pattern-1.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position-y: 0%;
    }

    section.product:last-of-type {
      background-color: green;
    }

    .chatbot-container {
      position: fixed;
      background: $yellow-color;
      height: 10px;
      bottom: 0;
      z-index: 1;
      width: 100%;
      box-shadow: 0px -4px 12px rgba(150, 150, 150, 0.1);
      background-image: url("/assets/images/pattern-1.svg");
      background-repeat: no-repeat;
      background-size: cover;
      background-blend-mode: normal;

      img {
        position: absolute;
        margin: 0 auto;
        bottom: 0;
        left: 0;
        right: 0;
        width: 250px;
        height: auto;
      }

      h1 {
        width: fit-content;
        text-align: center;
        margin: 0;
        position: absolute;
        top: -150%;
        background: #ffffff;
        padding: 1em;
        margin: 0 auto;
        left: 25%;
        right: 0;
        border-radius: 50px 50px 50px 0px;
        box-shadow: 0px 4px 12px rgba(104, 104, 104, 0.15);
      }
    }
  }

  // detail-template
  main.detail-template {
    a {
      background: $cta-color;
      padding: 10px 40px;
      font-size: 18px;
      border: 3px solid #ffffff;
      filter: drop-shadow(0px 4px 8px rgba(103, 103, 103, 0.2));
      border-radius: 10px;
      letter-spacing: 0.015em;
      color: #ffffff;
      font-family: $font-family-base;
      font-weight: bold;
    }

    .content {
      position: relative;
      margin-top: 1em;
      background: #fff9dc;
      width: 98%;
      border-radius: 20px;
      left: 50%;
      height: 1000px;
      transform: translateX(-50%);

      .heading {
        margin-top: 3em;
        display: flex;
        flex-direction: row;
        gap: 5em;

        .card {
          width: 500px;
          div {
            img {
              width: 300px !important;
              height: auto;
            }
          }
        }

        h1 {
          margin: 0 0 0.5em 0;
          font-size: 50px;
        }

        p {
          margin: 0;
          font-size: 14px;
          font-weight: 500;
          letter-spacing: 0.015em;
        }
      }
    }
  }
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $yellow-color;
    height: 30px;
    p {
      margin: 0;
    }
    a {
      text-decoration: none;
      color: $text-color;
    }
  }
}
