<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>OBA Chatbot</title>
    <link rel="stylesheet" href="css/main.css" />
  </head>
  <body>
    <div id="app">
      <header>
        <section>
          <a href="/"><h1>OBA</h1></a>
        </section>
      </header>
      <%- body %>
    </div>
    <script src="js/script.js"></script>
    <noscript>

    <link href="css/disabledJS.css" type="text/css" rel="stylesheet" />

</noscript>
</html>