<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head") %>
  <body>
    <%- include("partials/header") %>
    <main class="detail-template">
      <section class="content">
        <a class="goback" href="/"> Terug</a>

        <div class="heading">
          <div class="card img-container">
            <img src="/assets/images/lion.png" class="card-img-top" alt="..." />
          </div>

          <div>
            <h1>Hello World!</h1>
            <p>Auteurs: Tristan Varewijck</p>
            <p>Jaar: 2017</p>
          </div>
        </div>

        <div class="helper">
          <p class="text-cloud">
            <span>Hey daar!</span>Zal ik een stukje voorlezen?
          </p>

          <div class="button-wrapper">
            <button>Ja!</button>
            <button>Nee!</button>
          </div>

          <img src="/assets/images/lion.png" alt="little-helper" />
          <p class="text">
            Het is winter en Muis heeft honger. Hij ontdekt een heerlijke
            ruikende doos in een huisje in het bos ontdekt, maar hij kan er niet
            bij. Ook de andere dieren lukt het niet. Dan is de doos ineens
            verdwenen. Wat zal ermee gaan gebeuren?
          </p>
        </div>
      </section>

      <p>Dit boek reserveren?</p>
      <a href="<%= item.link %>" class="external-link">Reserveren</a>
    </main>

    <!-- <%- include("partials/footer") %> -->
  </body>
</html>
