<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head") %>
  <body>
    <%- include("partials/header") %>
    <main>
      <section class="products">
    
        <div class="swiper-1 swiper">
          <div class="swiper-wrapper">
            <a href="#" class="swiper-slide">
              <img src="assets/images/example.webp" alt="memorie-img" />
              <h2>Book-Title</h2>
            </a>

            <a href="#" class="swiper-slide">
              <img src="assets/images/example.webp" alt="memorie-img" />
              <h2>Book-Title</h2>
            </a>

            <a href="#" class="swiper-slide">
              <img src="assets/images/example.webp" alt="memorie-img" />
              <h2>Book-Title</h2>
            </a>

            <a href="#" class="swiper-slide">
              <img src="assets/images/example.webp" alt="memorie-img" />
              <h2>Book-Title</h2>
            </a>

            <a href="#" class="swiper-slide">
              <img src="assets/images/example.webp" alt="memorie-img" />
              <h2>Book-Title</h2>
            </a>

            <a href="#" class="swiper-slide">
              <img src="assets/images/example.webp" alt="memorie-img" />
              <h2>Book-Title</h2>
            </a>

            <a href="#" class="swiper-slide">
              <img src="assets/images/example.webp" alt="memorie-img" />
              <h2>Book-Title</h2>
            </a>
        </div>
        <div class="controls">
          <div class="swiper-button-prev1"><img src="assets/icons/arrow.svg" alt="icon-arrow-previous"></div>
          <div class="swiper-button-next1"><img src="assets/icons/arrow.svg" alt="icon-arrow-next"></div>
        </div>
   
      </section>

      <section class="products">
    
        <div class="swiper-1 swiper">
          <div class="swiper-wrapper">
            <a href="#" class="swiper-slide">
              <img src="assets/images/example.webp" alt="memorie-img" />
              <h2>Book-Title</h2>
            </a>

            <a href="#" class="swiper-slide">
              <img src="assets/images/example.webp" alt="memorie-img" />
              <h2>Book-Title</h2>
            </a>

            <a href="#" class="swiper-slide">
              <img src="assets/images/example.webp" alt="memorie-img" />
              <h2>Book-Title</h2>
            </a>

            <a href="#" class="swiper-slide">
              <img src="assets/images/example.webp" alt="memorie-img" />
              <h2>Book-Title</h2>
            </a>

            <a href="#" class="swiper-slide">
              <img src="assets/images/example.webp" alt="memorie-img" />
              <h2>Book-Title</h2>
            </a>

            <a href="#" class="swiper-slide">
              <img src="assets/images/example.webp" alt="memorie-img" />
              <h2>Book-Title</h2>
            </a>

            <a href="#" class="swiper-slide">
              <img src="assets/images/example.webp" alt="memorie-img" />
              <h2>Book-Title</h2>
            </a>
        </div>
        <div class="controls">
          <div class="swiper-button-prev1"><img src="assets/icons/arrow.svg" alt="icon-arrow-previous"></div>
          <div class="swiper-button-next1"><img src="assets/icons/arrow.svg" alt="icon-arrow-next"></div>
        </div>
   
      </section>

      <section class="products">
    
        <div class="swiper-1 swiper">
          <div class="swiper-wrapper">
            <a href="#" class="swiper-slide">
              <img src="assets/images/example.webp" alt="memorie-img" />
              <h2>Book-Title</h2>
            </a>

            <a href="#" class="swiper-slide">
              <img src="assets/images/example.webp" alt="memorie-img" />
              <h2>Book-Title</h2>
            </a>

            <a href="#" class="swiper-slide">
              <img src="assets/images/example.webp" alt="memorie-img" />
              <h2>Book-Title</h2>
            </a>

            <a href="#" class="swiper-slide">
              <img src="assets/images/example.webp" alt="memorie-img" />
              <h2>Book-Title</h2>
            </a>

            <a href="#" class="swiper-slide">
              <img src="assets/images/example.webp" alt="memorie-img" />
              <h2>Book-Title</h2>
            </a>

            <a href="#" class="swiper-slide">
              <img src="assets/images/example.webp" alt="memorie-img" />
              <h2>Book-Title</h2>
            </a>

            <a href="#" class="swiper-slide">
              <img src="assets/images/example.webp" alt="memorie-img" />
              <h2>Book-Title</h2>
            </a>
        </div>
        <div class="controls">
          <div class="swiper-button-prev1"><img src="assets/icons/arrow.svg" alt="icon-arrow-previous"></div>
          <div class="swiper-button-next1"><img src="assets/icons/arrow.svg" alt="icon-arrow-next"></div>
        </div>
   
      </section>

      <section class="products">
    
        <div class="swiper-1 swiper">
          <div class="swiper-wrapper">
            <a href="#" class="swiper-slide">
              <img src="assets/images/example.webp" alt="memorie-img" />
              <h2>Book-Title</h2>
            </a>

            <a href="#" class="swiper-slide">
              <img src="assets/images/example.webp" alt="memorie-img" />
              <h2>Book-Title</h2>
            </a>

            <a href="#" class="swiper-slide">
              <img src="assets/images/example.webp" alt="memorie-img" />
              <h2>Book-Title</h2>
            </a>

            <a href="#" class="swiper-slide">
              <img src="assets/images/example.webp" alt="memorie-img" />
              <h2>Book-Title</h2>
            </a>

            <a href="#" class="swiper-slide">
              <img src="assets/images/example.webp" alt="memorie-img" />
              <h2>Book-Title</h2>
            </a>

            <a href="#" class="swiper-slide">
              <img src="assets/images/example.webp" alt="memorie-img" />
              <h2>Book-Title</h2>
            </a>

            <a href="#" class="swiper-slide">
              <img src="assets/images/example.webp" alt="memorie-img" />
              <h2>Book-Title</h2>
            </a>
        </div>
        <div class="controls">
          <div class="swiper-button-prev1"><img src="assets/icons/arrow.svg" alt="icon-arrow-previous"></div>
          <div class="swiper-button-next1"><img src="assets/icons/arrow.svg" alt="icon-arrow-next"></div>
        </div>
   
      </section>

      

      <!-- chatbot -->
      <div class="chatbot-container">
        <button><img src="assets/icons/books.svg" alt="book-switch" /></button>
        <div class="chatbot-wrapper">
          <h2>Klik op mij!</h2>
          <button>
            <img src="assets/images/example.webp" alt="chatbot-activator" />
          </button>
        </div>
        <button><img src="assets/icons/film.svg" alt="film-switch" /></button>
      </div>
    </main>

    <%- include("partials/footer") %>
  </body>
</html>
