<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head") %>
  <body>
    <%- include("partials/header") %>
    <main>
      <section class="products"></section>
      <!-- chatbot -->
      <div class="chatbot-container">
        <button><img src="assets/icons/books.svg" alt="book-switch" /></button>
        <div class="chatbot-wrapper">
          <h2>Klik op mij!</h2>
          <button>
            <img src="assets/images/lion.png" alt="chatbot-activator" />
          </button>
        </div>
        <button><img src="assets/icons/film.svg" alt="film-switch" /></button>
      </div>
    </main>

    <%- include("partials/footer") %>
  </body>
</html>
