<main>
  <div class="zerostate">
    <section>
      <p>Tik op mij!</p>
      <img class="leeuw" src="img/leeuw.svg" alt="Leeuw de helper" />
    </section>

    <section class="secondstate">
      <div>
        <button class="keuzebtn" id="boekenbtn" value="book">
          <img src="img/boeken.svg" alt="Knop met boeken" />
        </button>
        <button class="keuzebtn" id="videosbtn" value="movie">
          <img src="img/videos.svg" alt="Knop met videos" />
        </button>
      </div>
    </section>

    <section class="thirdstate">
      <p id="convert_text">...</p>
    </section>
  </div>
</main>
