@font-face {
  font-family: "Futura";
  src: url("/assets/font/woff/Futura Bold font.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: "Futura";
  src: url("/assets/font/woff/Futura Bold Italic font.woff") format("woff");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: "Futura";
  src: url("/assets/font/woff/Futura Book font.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Futura";
  src: url("/assets/font/woff/Futura Book Italic font.woff") format("woff");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: "Futura";
  src: url("/assets/font/woff/Futura Light font.woff") format("woff");
  font-weight: lighter;
  font-style: normal; }

@font-face {
  font-family: "Futura";
  src: url("/assets/font/woff/Futura Light Italic font.woff") format("woff");
  font-weight: lighter;
  font-style: italic; }

body {
  font-size: 15px;
  font-family: "Futura" !important; }
  body header nav {
    padding: 0 50px; }
    body header nav ul {
      list-style-type: none;
      display: flex;
      flex-direction: row;
      margin: 0; }
      body header nav ul li {
        margin-left: 1em; }
        body header nav ul li a {
          color: #6e057c;
          text-decoration: none;
          font-weight: bold; }
  body main section {
    height: 200px;
    background-color: #88d557; }
  body main section:nth-last-of-type(2n) {
    background-color: #f5644e; }
  body main .chatbot-container {
    position: relative;
    background: #ffd916;
    height: 250px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center; }
    body main .chatbot-container button {
      background: none;
      outline: none;
      border: 6px solid #ffffff;
      border-radius: 50px;
      padding: 25px; }
      body main .chatbot-container button img {
        width: 50px; }
  body footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffd916;
    height: 30px; }
    body footer p {
      margin: 0; }
    body footer a {
      text-decoration: none;
      color: #070707; }
